[push]
	default = matching
[user]
	name = bao
	email = sanbaofeng@baijiahulian.com
[core]
	editor = vim
	pager = less
[color]
	ui = 1
[help]
	autocorrect = 1
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[stash]
    showPatch = true
